<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Your Assignment</title>

    <link href='http://fonts.googleapis.com/css?family=Jura:500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">

    <script src="../vendor/jquery/dist/jquery.min.js" text="text/javascript"></script>
    <script src="../vendor/bootstrap/dist/js/bootstrap.min.js" text="text/javascript"></script>

    <script type="text/javascript" src="../javascripts/app.js"></script>

</head>
<body>
    <div class="container-fluid">
        <h2 class="jumbotron">Log your assignment!!</h2>
    </div>

    <div class="container-fluid">
        <div class="postDataDisplay well col-md-4 col-md-offset-4"></div>
    </div>

    <div clas="container-fluid">
        <div class="dataDisplay"></div>
    </div>

</body>
</html>