body {
    background-color: rgb(178,125,93);
}

.jumbotron {
    text-align: center;
    font-family: 'Jura', sans-serif;
    background-color: rgb(76, 178, 178);
}

.postDataDisplay {
    text-align: center;
    font-family: 'Jura', sans-serif;
}

.dataDisplay {
    text-align: center;
    font-family: 'Jura', sans-serif;
}

li {
    list-style-type: none;
}

.well {
    background-color: rgb(183,255,255);
}

